.btn-delete,
.btn-delete-user{
    background-color: red;
    color: #0e1217;
    border: 1px solid red;
    opacity: 1;
    padding: .5rem 1rem;
    border-radius: 1rem;
    max-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.btn-delete:hover,
.btn-delete-user:hover{
    color: #fff;
    background-color: #0e1217;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.btn-delete-user{
    display: block;
    float: right;
}